.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-content {
    position: relative;
    background: #0e0d0d;
    border-radius: 8px;
    padding: 1rem;
    width: 90vw;
    max-width: 560px;
    height: auto;
}

.modal-content iframe {
    width: 100%;
    height: 315px;
    border-radius: 8px;
}

.modal .close {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .modal-content iframe {
        height: 200px;
    }
}

@media (max-width: 480px) {
    .modal-content {
        padding: 0.5rem;
    }

    .modal-content iframe {
        height: 180px;
    }

    .modal .close {
        top: 0.3rem;
        right: 0.7rem;
        font-size: 1.2rem;
    }
}

.movie-card {
    transition: transform 0.3s;
    cursor: pointer;
}

.movie-card:hover {
    transform: scale(1.05);
}
